/* Sidebar */
.sidebar {
  grid-area: sidebar;
  grid-template-rows: auto 1fr;
  gap: 30px;
  padding: 16px;
  background: var(--blue);
  color: var(--white);
}

.logo,
.nav-menu ul li a {
  grid-template-columns: auto 1fr;
  align-items: center;
}

.logo {  
  gap: 12px;
  font-size: 26px;
}

.logo img {
  width: 46px;
}

.nav-menu ul li:nth-last-child(3) {
  margin-top: 30px;
}

.nav-menu ul li a {
  grid-template-rows: 40px 1fr;
  padding-left: 10px;
  font-size: 22px;
}

.nav-menu ul li img {
  padding-right: 20px;
}

/* Header */
.header-menu {
  grid-area: header;
  min-width: 760px;
  padding: 24px 44px;
  background: var(--white);
  box-shadow: 0 6px 8px var(--black-08);
  gap: 16px;
}

.top-row {
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}

.bottom-row {
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}

.search-bar {
  max-width: 560px;
}

.search {
  grid-template-columns: auto 1fr;
  gap: 6px;
  align-items: center;
}

.search-input {
  padding: 2px 14px;
  background: var(--light-blue);
  border: none;
  border-radius: 20px;
}

.user-account {
  grid-template-columns: auto auto 1fr;
  justify-self: end;
  align-items: center;
  gap: 24px;
  font-size: 17px;
}

.user-greeting {
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 16px;
}

.user-greeting img {
  width: 70px;
}

.greeting {
  font-size: 14px;
}

.user-name {
  font-size: 24px;
}

.buttons {
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

/* Main content */
/* Projects */
.main-content {
  grid-area: main;
  grid-template-columns: 1fr 280px;
  gap: 20px;
  padding: 40px 18px;
}

.card-container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));;
  gap: 15px;
  padding: 16px 0px;
}

.card {
  grid-template-rows: 2fr 1fr;
  height: 210px;
  gap: 8px;
  padding: 20px;
  background: var(--white);
  border-left: 8px solid var(--yellow);
}

.card:hover {
  background: var(--blue);
  color: var(--white);
}

.text-container p:first-child {
  font-size: 20px;
}

.icons {
  grid-auto-flow: column;
  justify-content: end;
  align-items: end;
  gap: 26px;
}

.icons img:hover {
  width: 26px;
}

/* Announcements */
.right-column {
  grid-template-rows: repeat(2, 1fr);
  max-width: 280px;
  max-height: 996px;
}

.announcements-box {
  grid-template-rows: repeat(3, 1fr);
  padding: 26px;
  font-size: 14px;
  background: var(--white);
}

.announcements-title {
  padding-left: 8px;
}

.announcements-text {
  padding: 0px 0px 6px 8px;
}

/* Trending */
.trending-box {
  grid-template-rows: repeat(4, auto);
  gap: 14px;
  padding: 20px;
  background: var(--white);
}

.trending-box > div {
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 16px;
  margin-bottom: 6px;
  font-size: 14px
}

.user-info {
  grid-template-rows: auto auto;
}