@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

:root {
  /* Colors */
  --white: rgb(255, 255, 255);
  --blue: rgb(25, 146, 212);
  --light-blue: rgb(226,232,240);
  --gray: rgb(70, 70, 70);
  --light-gray: rgb(140,140,140);
}