@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
}

img {
  width: 24px;
}

button {
  min-width: 100px;
  margin: 16px 0px;
  font-size: 14px;
  background: #2196f3;
  color: #fff;
  border-radius: 40px;
}

.container {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh;
  background-color: #e8edf3;
  color: #333;
}